<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="" class="form" id="deleteForm">
                {{ form.csrf_token }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteModalLabel">{{ _("Delete File") }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="file_id" class="control-label">{{ _("File Id") }}:</label>
                        <input type="text" disabled class="form-control" id="file_id_show">
                        {{ form.id(class="form-control",id="file_id",type="hidden") }}
                    </div>
                    <div class="form-group">
                        <label for="file_alias" class="control-label">{{ _("File Alias") }}:</label>
                        <input type="text" disabled class="form-control" id="file_alias">
                    </div>
                    <div class="form-group">
                        <label for="file_link" class="control-label">{{ _("File Link") }}:</label>
                        <input type="text" disabled class="form-control" id="file_link">
                    </div>
                    <div class="form-group">
                        <label for="file_password" class="control-label">{{ _("File Password") }}:</label>
                        <input type="text" disabled class="form-control" id="file_password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">{{ _("Confirm") }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('whatever'); // Extract info from data-* attributes
            $('#file_id').val(button.data('id'));
            $('#file_id_show').val(button.data('id'));
            $('#file_alias').val(button.data('alias'));
            $('#file_link').val(button.data('link'));
            $('#file_password').val(button.data('psd'));
        })
    })
</script>