{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}{% if siteInfo %}{{ siteInfo.title }}{% else %}{{ title|default }}{% endif %}{% endblock title %}</title>

                {%- block metas %}
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {%- endblock metas %}

                {% block scripts %}
                    <script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
                    <script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
                {%- endblock scripts %}

                {%- block styles %}
                    <!-- Bootstrap -->
                    <link href="{{ bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap') }}" rel="stylesheet">
                    {% include "component/fixedcss.html" %}
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block navbar %}
                {% include 'component/navigator.html' %}
            {%- endblock navbar %}
            {% block content -%}
            {%- endblock content %}
            {% include "component/live2d_waifu.html" %}
            {% block footer %}
                {% include 'component/footer.html' %}
            {%- endblock footer -%}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
