{% extends "common/base.html" %}

{% block title %}
    {{ siteInfo.title }}
{% endblock %}

{% block navbar %}
    {% include 'component/navigator.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>文件信息</h3>
        </div>
        <div class="row clearfix">
            <div class="col-md-11 col-md-offset-1 column">
                <h4>
                    {{ file.alias }}
                </h4>
                <p>
                    <strong>简介: </strong>{{ file.description }}
                </p>
                <p>
                    <strong>链接(点击跳转): </strong><a href="{{ file.link }}">{{ file.link }}</a>
                </p>
                <p onclick="copypsd()">
                    <strong>密码(点击复制): </strong> <input disabled id="psd" value="{{ file.password }}">(Safair用户请手动复制)
                </p>
            </div>
        </div>
    </div>
    <script>
    function copypsd() {
        {% if file.password == "" %}
        return;
        {% else %}
        var psd= document.getElementById("psd");
        psd.disabled = false;
        psd.select();
        document.execCommand("copy");
        psd.disabled = true;
        alert("密码复制成功");
        {% endif %}
    }
    </script>
{% endblock %}
