<div class="panel panel-info">
    <div class="panel-heading text-center" style="font-size: x-large;">{{ article.title }}</div>
    {% include "blog/component/articleInfo.html" %}
    <div class="panel-body">
        {{ _("Summary") }}: {{ article.summary }}
        {% if article.tags|length > 0 %}
            <hr style="margin-bottom: 10px;">
            {% for tag in article.tags %}
                {% include "blog/component/tag.html" %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="list-group">
        <div id="article-content" class="list-group-item text-justify" style="font-size: large;">
            {{ article.content | safe }}
        </div>
        <div class="list-group-item" style="font-size: small">
            <span class="glyphicon glyphicon-time"> {{ _("Latest Updated Time") }}：{{ article.update_time }}</span>
        </div>
    </div>
    {% if article.user.id == user.id %}
        <div class="panel-footer panel-info text-center">
            <span class="glyphicon glyphicon-edit"></span>
            <a href="{{ url_for('space.article-edit',id=article.id) }}">{{ _("Edit") }}</a>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#article-content img").addClass('img-responsive');
    });
</script>