<div class="panel panel-info">
    <div class="panel-heading text-center">{{ article.title }}</div>
    {% include "blog/component/articleInfo.html" %}
    <div class="panel-body">
        {{ _("Summary") }}: {{ article.summary }}
        {% if article.tags|length > 0 %}
            <hr style="margin-bottom: 10px;">
            {% for tag in article.tags %}
                {% include "blog/component/tag.html" %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="panel-footer panel-info text-center">
        <a href="{{ url_for('blog.article-detail',id=article.id) }}">Link</a>
    </div>
</div>