<div class="panel panel-info">
    <div class="panel-heading text-center" style="font-size: x-large;">{{ article.title }}</div>
    <ul class="list-group text-justify">
        <li class="list-group-item">
            <div class="clearfix row">
                <div class="col-md-6">
                    <span class="label label-default text-right">日期 {{ article.create_time.strftime("%Y-%m-%d") }}</span>
                    <span class="label label-warning text-right">{{ article.source.name }}</span>
                    <span class="label label-info text-right">{{ article.type.name }}</span>
                </div>
                <div class="col-md-6 text-right">
                    <span class="label label-primary text-right">浏览 {{ article.num_of_view }}</span>
                    <a href="{{ url_for("space.index",id=article.user.id) }}">
                        <span class="label label-success">作者: {{ article.user.name }}</span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-body">
        简介: {{ article.summary }}
    </div>
    <div class="list-group">
        <div id="article-content" class="list-group-item text-justify" style="font-size: large;">
            {{ article.content | safe }}
        </div>
        <div class="list-group-item" style="font-size: small">
            <span class="glyphicon glyphicon-time"> 最后更新时间：{{ article.update_time }}</span>
        </div>
    </div>
    {% if article.user.id == user.id %}
        <div class="panel-footer panel-info text-center">
            <span class="glyphicon glyphicon-edit"></span>
            <a href="{{ url_for('space.article-edit',id=article.id) }}">Edit</a>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#article-content img").addClass('img-responsive');
    });
</script>