{% extends "common/base.html" %}

{% block navbar %}
    {% include 'component/navigator.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-paginator.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                {% include "admin/managebar.html" %}
            </div>
            <div class="col-md-10 column">
                <div class="row clearfix">
                    <div class="col-md-8 col-md-offset-2 page-header"><h3>{{ _("User Management") }}</h3></div>
                    <div class="col-md-8 col-md-offset-2 table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="info">
                                <th>ID</th>
                                <th>{{ _("Username") }}</th>
                                <th>{{ _("Email") }}</th>
                                <th>{{ _("User Group") }}</th>
                                <th>{{ _("Edit") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in pagination.items %}
                                <tr>
                                    <th>{{ user.id }}</th>
                                    <th><a href="{{ url_for("space.index",id=user.id) }}">{{ user.name }}</a></th>
                                    <th>{{ user.email }}</th>
                                    <th>{{ user.group.name }}</th>
                                    <th>
                                        <a class="btn btn-sm btn-success"
                                           href="{{ url_for("admin.user-edit",id=user.id) }}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </th>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <a class="btn btn-sm btn-default" href="{{url_for("admin.user-register")}}">
                            <span class="glyphicon glyphicon-plus"></span> {{ _("New User") }}
                        </a>
                    </div>
                </div>
                {% include "component/pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}
