{% extends "common/base.html" %}

{% block navbar %}
    {% include 'component/navigator.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-paginator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrapValidator.js') }}"></script>
{% endblock scripts %}

{%- block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/bootstrapValidator.css') }}" rel="stylesheet">
{%- endblock styles %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                {% include "admin/managebar.html" %}
            </div>
            <div class="col-md-10 column">
                <div class="row clearfix">
                    {% if message %}
                        {% import "component/alert_macro.html" as alert %}
                        <div class="col-md-8 col-md-offset-2" id="alert_feedback">
                            {{ alert.createAlert(message[0],message[1],prefix=_("Updated ")) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 col-md-offset-2 page-header"><h3>{{ _("User Profile Editor") }}</h3></div>
                    <div class="col-md-8 col-md-offset-2 column">
                        <form action="" id="profile_form" method="post" class="form">
                            {{ form.csrf_token }}
                            <label for="userid">{{ form.id.label }}</label>
                            <div class="form-group">
                                {{ form.id(id="userid", class="form-control",disabled=True,placeholder="Id") }}
                            </div>
                            <label for="username">{{ form.username.label }}</label>
                            <div class="form-group">
                                {{ form.username(id="username", class="form-control",placeholder="Username") }}
                            </div>
                            <label for="password">{{ form.password.label }}</label>
                            <div class="form-group">
                                {{ form.password(id="password", class="form-control",placeholder="Password") }}
                            </div>
                            <label for="email">{{ form.email.label }}</label>
                            <div class="form-group">
                                {{ form.email(id="email", class="form-control",placeholder="Email") }}
                            </div>
                            <label for="group">{{ form.group.label }}</label>
                            <div class="form-group">
                                {{ form.group(id="group", class="form-control") }}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success"
                                        id="submitbutton">{{ form.submit.label.text }}</button>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                $("#profile_form").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#submitbutton").click();
                                    }
                                });
                                $('#profile_form').bootstrapValidator({
                                    live: 'disabled',
                                    message: 'This value is not valid',
                                    submitButtons: '#submitbutton',
                                    submitHandler: function (validator, form, submitButton) {
                                    },
                                    feedbackIcons: {
                                        valid: 'glyphicon glyphicon-ok',
                                        invalid: 'glyphicon glyphicon-remove',
                                        validating: 'glyphicon glyphicon-refresh'
                                    },
                                    fields: {
                                        username: {
                                            message: '{{ _("Invalid Username") }}',
                                            validators: {
                                                notEmpty: {
                                                    message: '{{ _("Username Can not be empty") }}'
                                                },
                                                stringLength: {
                                                    /*长度提示*/
                                                    min: 4,
                                                    max: 16,
                                                    message: '{{ _("The length of username is in 4 to 16") }}'
                                                }
                                            }
                                        },
                                        {%if form.id.data == "AutoGenerate" %}
                                            password: {
                                                message: '{{ _("Invalid Password") }}',
                                                validators: {
                                                    notEmpty: {
                                                        message: '{{ _("Password Can not be empty") }}'
                                                    },
                                                    stringLength: {
                                                        /*长度提示*/
                                                        min: 6,
                                                        max: 16,
                                                        message: '{{ _("The length of password is in 6 to 16") }}'
                                                    }
                                                }
                                            },
                                        {% endif %}
                                        email: {
                                            message: '{{ _("Invalid Email") }}',
                                            validators: {
                                                notEmpty: {
                                                    message: '{{ _("Email Can not be empty") }}'
                                                },
                                                emailAddress: {//验证email地址
                                                    message: '{{ _("Email Can not be empty") }}'
                                                },
                                                stringLength: {
                                                    /*长度提示*/
                                                    min: 7,
                                                    max: 31,
                                                    message: '{{ _("The length of email is from 7 to 31") }}'
                                                }
                                            }
                                        }
                                    }
                                }).on('success.form.bv', function (e) {
                                    e.preventDefault();
                                });
                                $("#submitbutton").click(function () {
                                    $("#profile_form").bootstrapValidator('validate');
                                    if ($("#profile_form").data('bootstrapValidator').isValid()) {
                                        $("#profile_form")[0].submit();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
