<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ webtitle }}</title>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ webcss }}" />
</head>

{% if stats == "0" %}
<!-- 如果未登录，显示未登陆js-->
<script type="text/javascript">
    //当文档加载完毕后开始
    $(document).ready(function() {
        //登陆按钮
        $('#login').click(function(){
        var params = $("#userdata").serializeArray();  
        var j = {};  
        for (var item in params) {  
            j[params[item].name] = params[item].value;  
        };
        $.post("./api/login/",j,function(data){
            alert(data["message"]);
            if(data["code"] == "1"){
            	window.location.reload(true);
            };
        });
    });
});
</script>
{% endif %}
{% if stats == "1" %}
<!-- 如果已登录，显示已登录js-->
<script type="text/javascript">
    //当文档加载完毕后开始
    $(document).ready(function(){

        //登出按钮
        $('#logout').click(function(){
            $.post("./api/logout/","",function(data){
                alert(data["message"]);
                if(data["code"] == "9"){
                    window.location.reload(true);
                };
            });
        });

    });
</script>
{% endif %}


<body>
	<div id="header" class="header">
		<h1 class="title">{{ webtitle }}</h1>
	</div>
	<div id="maincontent" class="maincontent">
        {% if stats == "1" %}
            <p class="contentxt1">已登录</p>
            <p class="contentxt1">你好，{{ username }}</p>
            <input type="button" id="logout" value="登出">
        {% else %}
        <form id="userdata">
            <p class="contentxt1">请登录</p>
            <input type="text" name="username"/>
            <input type="text" name="password"/>
            <input type="button" id="login" value="登陆" />
        </form>  
        {% endif %}
     <div class="chatdiv" id="chatdiv">
        <script type="text/javascript">
            $(document).ready(function(){
                var msgid = 0;
                function getmessage(){
                    $.get("./api/msg/get/"+msgid,"",function(data){
                        if(data["code"] == "6"){
                            var msgcount = parseInt(data["data"]["msgcount"]);
                            if (msgcount == 0){
                                a = setTimeout(getmessage,1000);
                            }
                            else{
                                for (var i = 0; i < msgcount; i++) {
                                    var currentdata = data["data"]["msg"][i];
                                    var newmsg = document.createElement("p");
                                    newmsg.className = "chatmessage";
                                    newmsg.innerHTML = currentdata["username"] + ": " + currentdata["message"];
                                    $("#chatdiv").append(newmsg);
                                };
                                //将页面滑到最底部.
                                var div = document.getElementById('chatdiv');
                                div.scrollTop = div.scrollHeight;
                                msgid = parseInt(data["data"]["msg"][msgcount-1]["msgid"]);
                                //开始下一次收取信息
                                a = setTimeout(getmessage,1000);
                            };
                        };
                    });
                };
                getmessage();
            });
        </script>
    </div>
    {% if stats == "1" %}
    <form id="messagesend" onsubmit="return false;">
        <p class="contentxt1">输入信息: </p>
        <input type="text" name="message2send" id="message2send"/>
        <input type="button" id="send" value="发送" />
        <p class="contentxt2" id="sendback">发送状态: </p>
    </form>
    <script type="text/javascript">
    //当文档加载完毕后开始
    $(document).ready(function(){

        //发送消息函数
        function sendmsg2sever(){
        	var params = $("#messagesend").serializeArray();
            var j = {};
            for (var item in params) {
            	j[params[item].name] = params[item].value;
            };

            $.post("./api/msg/send/",j,function(data){
            	//显示发送状态
                var show = document.getElementById("sendback");
                show.innerHTML = "发送状态: " + data["message"];
                //重置发送文本框 并 让该文本框获取焦点
                $('#message2send').val("").focus();
                //如果cookie内用户账号密码对不上，则刷星网页
                if (data["code"] == "-5"){
                    window.location.reload(true);
                };
            });
        };

        //发送消息按钮
        $('#send').click(sendmsg2sever);

        //检测发送文本框是否被选中
        $('#message2send').focus(function(){
        	//绑定按键按下并弹起事件
        	$('#message2send').bind('keypress',function(event){
        		//判断是否为回车键
        		if (event.keyCode == "13"){
        			//向服务器发送数据
        			sendmsg2sever();
        			//发送完取消绑定keypress
        			$('#message2send').unbind("keypress");
        		};
        	});
        });

        //检测发送文本框是否失去焦点
        $('#message2send').blur(function(){
        	//取消绑定keypress
        	$('#message2send').unbind("keypress");
        });

    });

</script>
    {% endif %}
	</div>
	<div id="footer" class="footer">
	</div>
</body>
</html>
