<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ webtitle }}</title>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ webcss }}" />

{% if stats == "3" %}
<script type="text/javascript">
    //当文档加载完毕后开始
    $(document).ready(function() {
        //清除消息记录操作
        $('#clearmsg').click(function(){
            //向api请求
            $.post("../../api/msg/clear/","",function(data){
                var show = document.getElementById("msgback");
                if (data["code"] == "10"){
                    show.innerText = "操作状态: "+data["message"]+" 共删除"+data["data"]["totaldel"]+"条消息"
                    var a = setTimeout("var show = document.getElementById('msgback');show.innerText = '操作状态: ';",1000)
                }
                else{
                    show.innerText = "操作状态: "+data["message"]
                    var a = setTimeout("var show = document.getElementById('msgback');show.innerText = '操作状态: ';",1000)
                }
            });
        });
    });
</script>
{% endif %}
</head>
<body>
	<div id="header" class="header">
		<h1 class="title">{{ webtitle }}</h1>
	</div>
	<div id="maincontent" class="maincontent">
        {% if stats == "3" %}
        <input type="button" id="clearmsg" value="清除消息记录">
        <p class="contentxt2" id="msgback">操作状态: </p>
        {% else %}
        <p class="contentxt1">对不起，你没有这个权限</p>
        {% endif %}
	</div>
	<div id="footer" class="footer">
	</div>
</body>
</html>
